h1, h2 {
    text-align: center;
}

#main {
    background-color: pink;
}

#sidebar {
    background-color: purple;
}

/* desktop styling */
@media (min-width: 700px){
    #container {
        display: flex;
    }
    #main {
        width: 60%;
    }
    #sidebar {
        width: 40%;
    }
}